html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle
  body
    h1 Jade - node template engine
    #container.col.class1.class2
      p You are amazing
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
    include _header
    include _footer
