html(lang="en")
  head
    meta(charset="utf-8")
    title= pageTitle
    link(rel="stylesheet",href="../css/style.css")
    
  body
    include _mixins
    include _header
    #container
        p
            +a("http://baidu.com")
        span dsfdsfds
        p sdfdsf
    include _footer
