html(lang="en")
  head
    title= pageTitle
  body
    .header header
    .footer footer
    h1 Jade - node template engine
    #container.col.class1.class2
      p You are amazing
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

