@import './footer1.styl';

.footer
	height 100px
	background #f60
	position fixed
	right 0
	font-size 100px
	color #000
	bottom 0
	left 0
	background #ccc
	display flex
	transform translate(30px, 40px)
	background url(../img/a.png)
	div 
		background url(../img/b.jpg)