@import '../footer/footer1.styl';
$color = red;
.header
	height 100px
	background #f60
	position fixed
	right 0
	font-size 100px
	color #000
	top 0
	left 0
	background #ccc

	div {
		width 100px;
		height: 100px
		background $color
	}